body{
    background-image: radial-gradient(	#202020,	#181818,#000000);
    /* background-color: white; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font: "Roboto";
}

#new-contact-form{
    padding-right:20px;
    padding-left:20px;
    margin-top: 20px;
}

.side-bar{
    width: 250px;
    height: 100vh;
    float: left;
}

.button-div{
    /* border: 2px solid green; */
    width: 200px; height: 90px;
    text-align: center;
    z-index: 0;
}

#button-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-bar{
    /* border: 2px solid orange; */
    width: 300px; height: 100vh;
    top: 0px;
    position: fixed;
    z-index: -1;

}

.title{
    position: absolute;
    top: 30%;
    left: 0px;
    text-align: right;
    font-size: 70px;
    color: white;
}

#hide{
    /*border: 2px solid red; */
    border-radius: 25px;
    background-color: white;
    width: 250px; height: 100vh;
    top: 10px;
    bottom: 30px;
    position: fixed;
    z-index: 1;
}

.contact-list{
    /*border: 2px solid black; */
    color: white;
    margin-top: 20px;
    padding-left: 30px;
    height: 100vh;
    left: 200px;
    overflow: auto;
}

#title {
    margin-bottom: -5px;
}

#no-contacts {
    text-align: center;
    margin-top:30%;
    color: 	#D3D3D3;
}

#add-contact {

}

#save-contact {
    margin-top:20px;
    margin-bottom:10px;

}

#reset-contacts {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
}

#delete-button {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;

}

#back {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;

}

.list-reset{
    padding-right: 20px;
    /* list-style-type:none; */
}

.card {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:20px;
    border-radius: 25px;
    border: 2px solid #E0E0E0;
    width: 500px;
}

#name {
    font-size: 30px;
    font-weight: bold;

}

#phone {
    font-size: 20px;
    margin-top: -10px

}

#company {

}

#note {

}

#email {
    margin-bottom: 5px;

}